/*----------------*
/*----  MAIN  ---*/
/*----------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #EBEBEB;
	color: #555;
	background-image: url(email.png);
}

h1 {
	margin: 0;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	background-image: url("security.png");
	background-repeat: no-repeat;
}

h1>span {
	font-size: 15px;
}

h2 {
	margin: 0;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

h2>span {
	font-size: 10px;
}

textArea {
	font-size: 16px;
	width: 385px;
	height: 200px;
	background: rgba(255, 255, 255, 0.050);
	word-break: normal;
	-webkit-box-shadow: inset 0px 0px 1px 1px transparent;
}

span {
	font-size: 20px;
}

hr {
	border: 1px solid rgba(0, 0, 0, 0.03);
}

#content {
	width: 75%;
	margin: 0 auto;
}

.main-header {
	margin: 40px 0;
}


/*----------------*/
/*----  CARDS  ---*/
/*----------------*/

.card {
	position: relative;
	background-color: #FFF;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	width: 45%;
	float: left;
	margin-right: 3%;
	margin-bottom: 40px;
	z-index: 10;
	transition: all 150ms ease-out;
	background: rgba(255, 255, 255, 0.050);
	word-break: normal;
	-webkit-box-shadow: inset 0px 0px 1px 1px transparent;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-content {
	padding: 30px;
}

.card.special .card-content {
	padding-top: 0;
}

.card-header {
	background-color: #6BC7E5;
	margin-bottom: 8px;
	padding: 5px;
	border-radius: 3px 3px 0 0
}

.card-header>p {
	color: #FFF;
	margin: 0;
	font-size: 0.7em;
	font-weight: bold;
}

.card:last-child {
	margin-right: 0;
}


/*----------------*/
/*SPECIAL COLORING*/
/*----------------*/

#buttonEncode:hover,
#buttonDecode:hover {
	cursor: pointer;
	background-color: #f1c40f;
}

#buttonClean:hover {
	cursor: pointer;
	background-color: #abebc6;
}

#buttonEncode:focus,
#buttonDecode:focus,
#buttonClean:focus {
	outline: 0;
}


/*----------------*/
/*---  BUTTON  --*/
/*----------------*/

#buttonEncode {
	width: 10%;
	margin-top: 10px;
	padding: 15px 0;
	border-radius: 5px;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	background-image: url("locke.png");
	background-repeat: no-repeat;
	background-color: #f4f6f6;
}

#buttonDecode {
	width: 10%;
	margin-top: 10px;
	padding: 15px 0;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	background-image: url("locked.png");
	background-repeat: no-repeat;
	background-color: #f4f6f6;
}

#buttonClean {
	width: 10%;
	height: 30%;
	margin-top: 10px;
	padding: 15px 0;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	background-image: url("refresh.png");
	background-repeat: no-repeat;
	background-color: #f4f6f6;
}


/*----------------*/
/*----  MEDAL  ---*/
/*----------------*/

.medal {
	position: absolute;
	top: -10px;
	right: -10px;
	z-index: 20;
}

.medal-outer {
	width: 40px;
	height: 40px;
	background-color: #F5D800;
	border-radius: 100%;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.27);
}

.medal-inner {
	width: 26px;
	height: 26px;
	background-color: #FAE928;
	border-radius: 100%;
	margin: 0 auto;
	position: relative;
	top: 7px;
}

.ribbons {
	position: relative;
	left: 5px;
	top: -10px;
	z-index: -1;
}

.ribbon {
	width: 15px;
	position: relative;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.27);
	transition: transform 200ms;
	float: left;
}

.ribbon.left {
	height: 30px;
	background-color: #D96666;
	transform-origin: center top;
	animation: swing-left 2s infinite;
	animation-direction: alternate;
	margin-left: 50px;
}

.ribbon.right {
	margin-left: -30px;
	height: 35px;
	opacity: 0.9;
	background-color: #E56B6B;
	transform-origin: center top;
	animation: swing-right 2s infinite;
	animation-direction: alternate;
}


/*----------------*/
/*-- ANIMATIONS  -*/
/*----------------*/

@keyframes swing-left {
	0% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}

@keyframes swing-right {
	0% {
		transform: rotate(-7deg);
	}
	100% {
		transform: rotate(7deg);
	}
}


/*----------------*/
/*-- RESPONSIVE  -*/
/*----------------*/

@media (max-width: 900px) {
	.card {
		width: 100%;
	}
}


/*-------------*/
/*--- Input ---*/
/*-------------*/

.number {
	font-size: 16px;
}

.error {
	display: none;
	color: #e53708;
	font-size: 12px;
	font-weight: bold;
}

.imag .error {
	float: right;
	display: none;
}

input[type=text]:focus {
	width: 30%;
}

input[type=text] {
	width: 45px;
	height: 35px;
	box-sizing: border-box;
	border: 2px solid #aed6f1;
	border-radius: 4px;
	font-size: 20px;
	background-color: #eceff1;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 20px 20px 20px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	background-image: url("key1.png");
	background-repeat: no-repeat;
}
