
.buttons {
    margin-top: 15px;
}

#btnCodificar, #btnDecodificar {
  background-color: #AED6F1;
  width: 150px;
  font-size: 20px;
  color: #000000;
  border: 1px solid #1D3C6A;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btnCodificar:hover, #btnDescodificar:hover {
    cursor: pointer;
    background-color: #3498DB;
}

#btnCodificar:focus, #btnDescodificar:focus {
    outline: 0;
}

.textarea {
  width:650px;
  height: 100px;
  font-family: Garamond,verdana;
  font-size: 9pt;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

.error {
    display: none;
    color: red;
    font-size: 14px;

}
